@import "./variables";
.nav {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 2rem;
  border-bottom: 1px solid $color-light-grey-2;

  &--name {
    margin-right: 7rem;
    h1 {
      font-size: 3rem;
      color: $color-light-grey-1;
      text-transform: uppercase;
    }
  }

  &--search {
    width: 40%;
    font-size: 3.5rem;
    // margin-left: -3.35rem;

    input {
      border: none;
      border-style: none;
      outline: none;
      font-family: inherit;
      font-size: inherit;
      padding: 0.7rem 2rem;
      border-radius: 100px;
      width: 90%;
      height: 90%;
      transition: all 0.2s;
      margin-right: -3.35rem;

      &:focus {
        outline: none;
        width: 100%;
      }

      &::-webkit-input-placeholder {
        font-weight: 100;
      }
    }
  }
}

.track-list {
  margin: 0 30rem;
  &--head {
    h2 {
      text-align: center;
      font-size: 5rem;
      font-weight: 200;
      margin: 2rem 0;
      color: $color-light-grey-2;
      text-transform: uppercase;
    }
  }
  &--list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.card {
  margin: 5rem 3rem;
  min-width: 30%;
  height: 33rem;
  background-color: $color-light-grey-2;
  box-shadow: 0 1rem 2rem rgba(#000, 0.4);
  border-radius: 1rem;
  // cursor: pointer;
  transition: all 0.2s;

  &:hover {
    box-shadow: 0 1rem 1rem rgba(#000, 0.4);
  }

  &--img {
    position: relative;
    width: 100%;
    height: 60%;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
    }
  }

  &--detail {
    padding: 1rem;
    margin-top: 1rem;
    color: #fff;
    z-index: -1;
    width: 100%;
    // transform: translateY(-0.5rem);
  }

  &--link {
    button {
      cursor: pointer;
      text-decoration: none;
      border: none;
      outline: none;
      width: 100%;
      height: 5.5rem;
      font-size: 2rem;
      text-transform: uppercase;
      font-weight: 200;
      background-color: $color-dark-secondary;
      color: $color-light-grey-1;
      padding: 0 2rem;
      text-align: center;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
    }
  }

  &--track {
    width: 100%;
    text-align: center;
    font-size: 2rem;
  }

  &--artist {
    margin-left: 2rem;
    font-size: 1.5rem;
    span {
      font-weight: 600;
    }
  }
}

.lyric-container {
  width: 35%;
  margin: 0 auto;
  margin-top: 5rem;

  &--name {
    display: flex;
    color: $color-light-grey-2;
    justify-content: space-between;
    margin-bottom: 2rem;
    h2 {
      text-transform: uppercase;
      font-size: 3rem;
      font-style: italic;
      text-decoration: underline;
      color: $color-dark-secondary;
    }
  }

  h1 {
    color: $color-light-grey-1;
    text-align: center;
    font-size: 4rem;
    font-weight: 200;
  }
}
