$color-dark-primary: rgba(#000000, 0.95);
$color-dark-secondary: #414141;

$color-light-grey-1: #f7f7f7;
$color-light-grey-2: #eee;

// BREAKPOINTS //
$bp-largest: 93.75em; //1500px
$bp-larger: 81.25em; //1300px
$bp-large: 62.5em; //1000px
$bp-medium: 50em; //800px
$bp-small: 37.5em; //600px
$bp-smaller: 25em; //400px
